<ul class="nav nav-tabs center-block" data-ng-init="vm.disableWeatherTab()">
  <li class="active"><a data-toggle="tab" id="citiesTab" href="#cities-tab">Cities</a></li>
  <li><a data-toggle="tab" id="weatherTab" href="#weather-tab">Weather</a></li>
</ul>

  <div class="tab-content center-block">
    <div id="cities-tab" class="tab-pane fade in active">
      <h3>Select cities</h3>
     	 <city-selection-directive></city-selection-directive>
    </div>
    <div id="weather-tab" class="tab-pane fade in fade">
      <div class="form-group">
	  	<select 
        ng-change="vm.update(city)" 
        ng-model="city" 
        ng-options="city for city in vm.selectedCities" 
        class="form-control" id="sel1">
        <option value="">-- Choose a city --</option>
      </select>
	</div>

<div ng-show="vm.citiesData == undefined">
  <img id="loader" src="http://www.bmd.gov.bd/load.gif" width="170" height="170" alt="" style="display:none">
</div>

<table class="table">
  <tr ng-repeat="(key, value) in vm.citiesData">
    <th ng-show="key == 'name' ">City</th>
    <td ng-show="key == 'name' ">{{value}}</td>
  </tr>
  <tr ng-repeat="(key, value) in vm.citiesData">
    <th ng-show="key == 'sys' ">Country</th>
    <td ng-show="key == 'sys' ">{{vm.citiesData[key]['country']}}</td>
  </tr>
  <tr ng-repeat="(key, value) in vm.citiesData">
    <th ng-show="key == 'weather' ">Weather</th>
    <td ng-show="key == 'weather' ">{{value[0]['description']}}</td>
  </tr>
  <tr ng-repeat="(key, value) in vm.citiesData">
    <th ng-show="key == 'main' ">Temprature</th>
    <td ng-show="key == 'main' ">{{ vm.citiesData[key]['temp'] | convertToCelsius }} &#x2103;</td>
  </tr>
</table>

    </div>
</div>

