input[type=checkbox], input[type=radio]{
	margin-right:10px;
}

ul li{
	list-style: none;
}

.tab-content, .nav-tabs{
	width:600px;
}

.form-group {
    margin-bottom: 15px;
    margin-top: 15px;
}

#loader{
	margin:0 auto;
}