ul{
	list-style: none;
}

.no-padding{
	padding:0;
}

.navbar {
  min-height: 75px;
  border: none; 
}

.navbar-inverse {
  background-color: #f8b400;
   border-color: none; 
}

header{
	margin-bottom: 15px;
}

.clear{
	clear:both;
}

.clear-left{
	clear:left;
}

.clear-right{
	clear:right;
}

.overflow-hidden{
	overflow:hidden;
}

 .title{
 	font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    border-bottom: 2px solid #f8b400;
    padding-bottom: 5px;
    text-transform: uppercase;
 }

 .booking-content{
 	padding:10px 0 25px 0;
 }

 .booking-content p{
 	font-family: 'OpenSans-Regular', 'OpenSans-Light', 'OpenSans-Italic', 'OpenSans-BoldItalic', 'OpenSans-OpenSans-Bold', arial, sans-serif;
 	font-size: 14px;
    color: #575756;
    padding:0;
    margin: 0;
 }

.btn.create-booking{
    padding: 13px 60px;
    background: #f7b507;
    border-bottom: #f48821 3px solid;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    float:right;
    text-align: center;
    color: #575756
}

.panel {
	margin-top: 30px;
	border:none;
	border-radius: 5px;
}

.panel-body {
  padding: 15px;
  background: #f2f2f2;
  border-radius: 5px;
}

.panel-body h3{
	font-size:16px;
}

.container.reservation{
	width:550px;
	padding:0;
}

.subscribe{
	background:#575756;
}

.footer{ 
	background:#cccccc;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 2px solid #f8b400;
}

.reservation form{
	position:relative;
}

.reservation ul li{
	position: relative;

}

.reservation ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.reservation ul li label{
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 1em;
    padding:0px 0px 0px 75px;
    margin: 24px auto;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
    text-align: left;
}


.reservation ul li .check{
  display: block;
  position: absolute;
  border:1px solid #fbd87b;
  border-radius: 100%;
  height: 22px;
  width: 22px;
  top: 22px;
  left: 49px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
  background: #fff;
}

.reservation ul li label.label-first{
	padding-left:46px;
}

.reservation ul li .check.first{
	left:18px;
}

.reservation ul li input[type=radio]:checked ~ .check {
  border: 7px solid #f8b400;
}

.reservation ul li input[type=radio]:checked ~ label {
    font-weight: bold;
}

.panel-body input[type=text]{
	width: 100%;
	border:1px solid #f8b400;
	border-radius:5px;
	height:32px;
	line-height: 32px
} 

button.searchBtn{
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 7px;
    bottom: 8px;
    background: url('images/magnifier.png') no-repeat 0px 0px;
    border: none;
}


.panel-table{
	border: 1px solid #f8b400;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
   border-color: #f8b400;
}

th{
	background-color: #565655;
	color:#fff;
	font-weight: normal;
}

.row.special-offers{
	padding:20px 0;
}

.world{
	min-height: 74px;
	background:#333333; 
	padding:20px 0;
}



.world .container{
	width:400px;
}

.world ul{
    padding: 0
}

.world ul li{
	background: url(images/flags.png) no-repeat;
	margin-left:5px;
	width:26px;
	height:18px;
	float:left;
}
.world ul li.flag1{
	background-position-y:0;
}
.world ul li.flag2{
	background-position-y:-28px;
}
.world ul li.flag3{
	background-position-y:-56px;
}
.world ul li.flag4{
	background-position-y:-84px;
}
.world ul li.flag5{
	background-position-y:-112px;
}

.world h4{
	color:#6b6b6b;
	text-align: left;
    float: left;
    font-weight: normal;
    padding-right: 10px;
    margin: 0;
    font-size:17px;
}


.subscribe .container h3{
	font-size:22px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#fff;
	font-weight: normal;
	line-height: 35px;
	height: 35px;
	text-align: right;
	margin: 0;

}

.car-rental{
	padding:20px 0;
}

.car-rental ul{
	list-style: none;
}

.btn.special{
	padding: 6px 28px;
	background: #f7b507;
    border-bottom: #f48821 3px solid;
    text-align: center;
    border-radius: 5px;
    color: #575756;
}

.subscribe .container .col-md-4 input[type=text]{
	width:100%;
	height:34px;
	line-height: 34px;
	border-radius:5px;
}


.car-rental ul{
	border-left:1px solid #747474;
	padding-left:10px;
}

.car-rental ul li{
	padding:3px 0;
	color:#747474;
	font-weight: normal;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	text-align: left;

}

.car-rental ul li h3{
	font-size:20px;
	font-weight: 200;
	margin:0 0 15px 0;
}

.rights{
	height:72px;
	background: #575756
}

div.panel-body{
	border-radius:0;
}

div#accordion.panel-group div.panel.panel-default{
	margin-top:0;
}

div.panel-group{
	margin-bottom: 0;
}

div.panel.panel-default div.panel-heading{
	background:#cccccc;
	padding: 10px 30px;
	border-bottom: 1px solid #fff;
}

div.panel-heading h4.panel-title{
	color:#555;
	font-weight:200;
}


/* Extra Small Devices, Phones */
	@media only screen and (max-width : 767px){
		.col-lg-12.form{
			padding-left:0px;
			padding-right:0px;
		}

 		.btn.create-booking{
 			width:100%;
 			margin-top: 15px;
 		}

 		.container.reservation{
			width:100%;
 		}

 		.reservation ul li label{
 			padding: 0px 0px 0px 45px;
 			margin:10px 0;
 		}

 		.reservation ul li .check{
		    left: 18px;
		    top:9px;
 		}

 		.reservation h3{
		    text-align: left;
		    padding-left:14px;
 		}

 		.reservation input[type=text]{
 			width:87%;
 			margin-top: 10px;
 			float: left;
    		margin-left: 5px;
 		}

 		.subscribe{
			
 		}

 		.subscribe .container h3{
		    text-align: left;
	   		padding:5px 0;
	    	letter-spacing: 1px;
	    	font-size: 1.5em;
	    	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 		}

 		.subscribe .container #subscribe{
	        width: 92%;
		    margin-bottom: 10px;
		    height:35px;
		    margin-top: 10px;
 		}
 		.subscribe .container .btn.special{
 			width:113px;
 			height:36px;
 			background: #f8b400;
 			float:left;
 			margin: 0 0 20px 0px;
 		}

 		.reservation form{
			position:static;
		}

 		button.searchBtn{
	     right: 55px;
    	 bottom: 8px;
 		}
	}

	/*iphone landscape*/

	@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) { 
		div.container.reservation ul li{
			width:inherit;
		}

		.btn.create-booking{
			float:left;
			margin-top:15px;
		}

		.subscribe .container h3{
			text-align: left;
		}

		.subscribe .container .col-md-4 input[type=text]{
			margin-bottom: 10px;
		}
	}

	/*ipad portrait*/

	@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1)  { 
	div.container.reservation ul li{
			width:inherit;
		}

		.btn.create-booking{
			float:left;
			margin-top:15px;
		}

		section.subscribe div.container h3{
			text-align: left;
		}

		section.subscribe div.container div.col-md-4 input[type=text]{
			margin-bottom: 10px;
		}

 }


 	    footer div.panel.panel-default{
			width:50%;
			float:left;
			background: #cccccc;
		}

		footer div.panel.panel-default div.panel-heading{
		    position: relative;
			
		}

		footer div.panel.panel-default div.panel-heading.left{
			border-right:1px solid #fff; 
		}

		footer div.panel.panel-default div.panel-heading.bottom{
			border-bottom:none; 
		}

		footer div.panel.panel-default div.panel-heading.left.bottom{
			border-bottom:none; 
		}

		footer .panel-default > .panel-heading + .panel-collapse > .panel-body {
			background:#cccccc;
		}

		footer .panel-default > .panel-heading + .panel-collapse > .panel-body ul li a{
			color:#555;
			
		}
		footer .panel-default > .panel-heading + .panel-collapse > .panel-body ul li a:hover{
			text-decoration: none;
		}



 		/*ipad landscape*/

	 @media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : landscape)
	and (-webkit-min-device-pixel-ratio: 1)  { 
		section.subscribe div.container h3{
			text-align: left;
		}

	}


 @media only screen and (max-width : 320px){
 	div.world h4{
	    font-size: 13px;
	    margin-top: 2px;
	    padding-right: 11px;
 	}

 }

 @media (max-width: 680px){
 		footer div.panel.panel-default{
			width:100%;
			background: #cccccc;
		}

		footer div.panel.panel-default div.panel-heading{
		    position: relative;
			
		}

		footer div.panel.panel-default div.panel-heading.left{
			border-right:1px solid #fff; 
		}

		footer div.panel.panel-default div.panel-heading.bottom{
			border-bottom:none; 
		}

		footer div.panel.panel-default div.panel-heading.left.bottom{
			border-bottom:none; 
		}

		footer .panel-default > .panel-heading + .panel-collapse > .panel-body {
			background:#cccccc;
		}

		footer .panel-default > .panel-heading + .panel-collapse > .panel-body ul li a{
			color:#555;
			
		}
		footer .panel-default > .panel-heading + .panel-collapse > .panel-body ul li a:hover{
			text-decoration: none;
		}
 }



