

/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }


/* Base Styles */

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  /*border: 1px solid #DDDDDD;*/
  text-align:center;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}


input[type=checkbox], input[type=radio] {

    margin-top: 1px \9;
    line-height: normal;
}

header .container h1{
  font-size:3em;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
     background-color:#fff; 
     opacity: 1;
     cursor: default;
}

.checkbox label, .radio label{
   width:20em;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px \9;
    /* margin-left: -20px; */
    top: -21px;
    left: 13px;
}


.delete{
    position: absolute;
    right: 6px;
    top: 4px;
    cursor:pointer;
}

.list-group ul, .list-group .buttons {
    width: 30%;
    margin: 0 auto;
}

.list-group .buttons{
  text-align:center;
  margin-top:20px;
}

header, footer{
  margin:20px 0;
  text-align:center;
}


ul li{
    -webkit-box-shadow: 0 7px 4px #777;
    -moz-box-shadow: 0 7px 4px #777;
    box-shadow: 0 7px 4px #777;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

input[type=text]{
  -webkit-appearance:none;
  border-width:0px;
  border:none;
}

input.ng-invalid {
    border: 1px solid red;
}

.form-title-input{
    font-size: 1.3em;
    font-weight: bold;
}

.form-date-input{
    font-size: 1em;
}

.form-author-input{
  font-style: italic;
  font-size:1.2em;
}

.form-control{
     -webkit-box-shadow: none;
     box-shadow: none;
     -webkit-appearance:none;
     border-width:0px;
     border:none;
}








