
  <div class="list-group">
    <ul>
      <li ng-repeat="book in books">
        <div class="checkbox">
            <input name="bookCheckbox" type="checkbox" ng-checked="selection.indexOf(book.title) > -1" ng-click="toggleSelection(book.title)" />
            <form name="booksForm" novalidate>
              <input 
                  type="text" 
                  name="bookTitleItem" 
                  ng-focus="disableObj(book)" 
                  ng-model="book.title" 
                  ng-blur="saveBook(book.title)" 
                  class="form-control form-title-input"
                  disabled="true" 
                  title="{{book.title}}" 
                  value={{book.title}}
                  ng-pattern="/^([\.\a-zA-Z]+\s)*[a-zA-Z]+$/" 
                  ng-minlength="3"
                  ng-maxlength="50"
                  required>
              
                 

               <div ng-messages="booksForm.bookTitleItem.$error" ng-if="booksForm.bookTitleItem.$touched">
                  <p ng-message="required">This field is required</p>
                  <p ng-message="minlength">This field is too short</p>
                  <p ng-message="maxlength">This field is too long</p>
                  <p ng-message="pattern">This field is not valid</p>
              </div>
     
              <input
                type="text" 
                name="bookAuthorItem"
                ng-focus="disableObj(book)" 
                ng-model="book.author" 
                ng-blur="saveBook(book.author)" 
                class="form-control form-author-input" 
                disabled="true" 
                title="{{book.author}}" 
                value={{book.author}}
                 ng-minlength="3"
                ng-maxlength="50"
                ng-pattern="/^([\.\a-zA-Z]+\s)*[a-zA-Z]+$/"
                required>

              <div ng-messages="booksForm.bookAuthorItem.$error" ng-if="booksForm.bookAuthorItem.$touched">
                  <p ng-message="required">This field is required</p>
                  <p ng-message="minlength">This field is too short</p>
                  <p ng-message="maxlength">This field is too long</p>
                  <p ng-message="pattern">This field is not valid</p>
              </div>
            
              <input 
                type="text"
                name="bookDateItem" 
                ng-focus="disableObj(book)" 
                ng-model="book.date" 
                ng-blur="saveBook(book.date)" 
                class="form-control form-date-input" 
                disabled="true" 
                title="{{book.date}}" 
                value={{book.date}}
                ng-pattern="/^(0?[1-9]|[12][0-9]|3[01])[\/\-](0?[1-9]|1[012])[\/\-]\d{4}$/" 
                required>

                <div ng-messages="booksForm.bookDateItem.$error" ng-if="booksForm.bookDateItem.$touched">
                  <p ng-message="pattern">Must be a valid date (DD/MM/YYYY)</p>
                  <p ng-message="required">This field is required</p>
               </div>
            </form>
         
        </div> 
      </li>
    </ul>
    <div class="buttons">
      <button type="button" class="btn btn-primary" ng-disabled="!checkSelected()"  ng-click="editBook(selectedBooks)">Edit Book</button>
      <button type="button" class="btn btn-primary" ng-disabled="!checkSelected()"  ng-click="deleteBook(selectedBooks)">Delete Book</button>
    </div>
    
  </div>
